@import "tailwindcss";

@theme {
  --color-primary-500: #0ea5e9;
  --color-primary-400: #38bdf8;
  --color-primary-600: #0284c7;
  --color-accent: #f87171;
  --color-divider: #0c4a6e;
  --color-background-500: #1e293b;
  --color-background-600: #0f172a;
  --color-background-625: #0e1a2e;
  --color-background-650: #0d182b;
  --color-background-700: #0c1627;
  --color-text-high: #fff;
  --color-text-medium: #374151;
  --color-text-low: #cbd5e1;
  --color-text-blue: #0ea5e9;
  --color-text-gray: #6b7280;
  --color-success: #00c853;
  --color-error: #cf6679;
  --color-warning: #ffd600;
  --color-info: #29b6f6;
  --radius-sm: 100px;
  --test: #f87171;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
@layer components {
  ::-webkit-scrollbar-thumb {
    @apply bg-divider rounded-md;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Tooltip */

.tooltip-container .tooltip-diff-arrow {
  border-radius: 11px;
  padding: 8px 12px;
}

.tooltip-container .tooltip-diff-arrow .tooltip-arrow {
  background-color: "#fff";
}

/* Loader */
.dots-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.dot {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #b3d4fc;
  animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
  margin-right: 0;
}

.dot:nth-child(1) {
  animation-delay: -0.3s;
}

.dot:nth-child(2) {
  animation-delay: -0.1s;
}

.dot:nth-child(3) {
  animation-delay: 0.1s;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }

  50% {
    transform: scale(1.2);
    background-color: #6793fb;
    box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
  }

  100% {
    transform: scale(0.8);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }
}

.day-with-tasks::after {
  content: "";
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  top: 0.6rem;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: blue;
  border-radius: 50%;
}
.day-with-tasks {
  position: relative;
}
